@page "/doc"
@layout EmptyLayout
@inject IJSRuntime JSRuntime

<div id="preview-container"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("clearLayoutStyle");
            await JSRuntime.InvokeVoidAsync("renderHtml", "preview-container", DocTemplateController.SampleHtml);
        }
    }
}
