@page "/canvas"

<MudText Typo="Typo.h3" GutterBottom="true">
    <MudIcon Size="Size.Large" Icon="@Icons.Custom.Uncategorized.Fish" />
    Canvas
</MudText>

<MudText Class="mb-4">
    <p>This page demonstrates the Canvas implementations.</p>
</MudText>

@code {

}
