@page "/mobile"
@inject IJSRuntime JS

<PageTitle>Like a Mobile App</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">
    <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.Storage" />
    Like a Mobile App
</MudText>
<MudText Class="mb-8">This component demonstrates how a web page can features like opening camera or GPS.</MudText>

<MudButton OnClick="ToggleCamera" Variant="Variant.Filled" Color="Color.Primary"
    EndIcon="@(cameraState != CAMERA_STATE_INPROGRESS ? Icons.Material.Filled.CameraAlt : null)">
    @if (cameraState == CAMERA_STATE_CLOSE) 
    {
        <div>Open</div>
    }
    else if (cameraState == CAMERA_STATE_OPEN)
    {
        <div>Close</div>
    }
    else // In Progress
    {
        <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
    }
</MudButton>

@if (cameraBlocked)
{
    <MudText Class="mb-8" Color="Color.Error">Camera blocked</MudText>
}

<br />
<br />
<video id="@videoElementId" autoplay="autoplay" style="width: 480px; height: auto;"></video>

@code {
    private string videoElementId = "videoElement";
    private int cameraState = CAMERA_STATE_CLOSE;
    private const int CAMERA_STATE_CLOSE = 0;
    private const int CAMERA_STATE_OPEN = 1;
    private const int CAMERA_STATE_INPROGRESS = 2;
    private bool cameraBlocked = false;

    private async Task ToggleCamera()
    {
        if (cameraState == CAMERA_STATE_CLOSE)
            await OpenCamera();
        else if (cameraState == CAMERA_STATE_OPEN)
            await CloseCamera();
    }

    private async Task OpenCamera()
    {
        cameraState = CAMERA_STATE_INPROGRESS;
        bool success;
        try
        {
            success = await JS.InvokeAsync<bool>("openCameraStream", videoElementId);
        }
        catch
        {
            success = false;
        }
        await Task.Delay(200);
        cameraState = success ? CAMERA_STATE_OPEN : CAMERA_STATE_CLOSE;
        cameraBlocked = !success;
    }

    private async Task CloseCamera()
    {        
        cameraState = CAMERA_STATE_INPROGRESS;
        await JS.InvokeVoidAsync("closeCameraStream", videoElementId);
        await Task.Delay(200);
        cameraState = CAMERA_STATE_CLOSE;
    }
}
