@page "/sourceCodeScanner"
@using System.Text
@using PeterDoStuff.MudWasmHosted.Client.Extensions
@using PeterDoStuff.Tools

@inject IJSRuntime JS

<PlaygroundTitle Page="sourceCodeScanner" />

<MudText Class="mb-8">
    <p>Download your source code as zip file from GitHub/GitLab.</p>
    <p>Select the zip file using the button below.</p>
    <p>The zip file will be analysed by your PC/Device (via WASM).</p>
    <p>Based on the size of your source code, the wait time can be different, from 10 seconds to 5 minutes.</p>
    <p>The statistics (the list of the files inside, their extensions, and LOC in each of them) will be downloaded for your view after scanning, in the format of CSV.</p>
</MudText>

<MudFileUpload T="IBrowserFile" FilesChanged="SelectFile">
    <ButtonTemplate>
        <MudButton HtmlTag="label"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.InsertDriveFile"
                   for="@context.Id">
            Select Zip File
        </MudButton>
    </ButtonTemplate>
</MudFileUpload>

<MudDivider DividerType="DividerType.Middle" Class="my-6" />

<MudText Class="mb-8" Color="Color.Secondary">@ScanResult</MudText>

<LoadingOverlay @ref="ScanOverlay"/>

@code {
    private string ScanResult = "Select your zip file";
    private LoadingOverlay ScanOverlay;

    public async Task SelectFile(IBrowserFile file)
    {
        ScanOverlay.Show("Scanning");
        ScanResult = "Scanning...";
        DateTime start = DateTime.Now;

        // Read the file stream for scanning
        using MemoryStream inputFileStream = new MemoryStream();
        await file.OpenReadStream(file.Size).CopyToAsync(inputFileStream);

        // Do the scanning
        using FileScanner scanner = new FileScanner();        
        var scanResult = scanner.ScanZip(inputFileStream);
        if (scanResult != FileScanner.SUCCESSFUL)
        {
            ScanResult = scanResult;
            ScanOverlay.Hide();
            return;
        }

        // Download the result        
        await JS.DownloadTextFile(file.Name + ".csv", scanner.ToCsv());

        // Report the time taken
        DateTime end = DateTime.Now;
        ScanResult = scanResult + $" (in {(end - start).TotalSeconds} seconds)";

        ScanOverlay.Hide();
    }
}
