<MudOverlay @bind-Visible="isVisible" DarkBackground="true">
    <div style="position: absolute; left: 50%; top: 30%;">
        <div style="position: relative; left: -50%;">
            <div class="pds_loading_ring">
                @LoadingText
                <span class="pds_loading_span"></span>
            </div>
        </div>
    </div>
</MudOverlay>

@code {
    [Parameter]
    public string LoadingText { get; set; }
    private bool isVisible { get; set; } = false;

    public async Task Show(string loadingText = "Loading")
    {
        LoadingText = loadingText;
        isVisible = true;
        StateHasChanged();
    }

    public void Hide()
    {
        isVisible = false;
        StateHasChanged();
    }
}
