@inject IJSRuntime JS

<MudButton Variant="Variant.Filled" Color="Color.Primary"
           EndIcon="@(locationInProgress == false ? Icons.Material.Filled.LocationOn : null)"
           OnClick="GetLocation">
    @if (locationInProgress)
    {
        <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
    }
    else
    {
        <div>Get Location</div>
    }
</MudButton>

@if (locationBlocked != "")
{
    <MudText Class="mb-8" Color="Color.Error">
        Location blocked. Check the Console Error for more info. @locationBlocked
    </MudText>
}

<MudText Class="mb-8">Longitude: @longitude</MudText>
<MudText Class="mb-8">Latitude: @latitude</MudText>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt-GrgNsRkgZdSJ5jmZO5x1PS20E4H_CU&callback=initializeMap" defer></script>
<div id="map" style="height: 400px;"></div>

@code {
    private double longitude, latitude;
    private string locationBlocked = "";
    private bool locationInProgress = false;

    private async Task GetLocation()
    {
        locationInProgress = true;
        await Task.Delay(200);
        try
        {
            // Call JavaScript function to get location coordinates
            var location = await JS.InvokeAsync<IDictionary<string, double>>("getLocationCoordinates");
            longitude = location["longitude"];
            latitude = location["latitude"];
            locationBlocked = "";
            locationInProgress = false;
            await ShowMap(longitude, latitude);
        }
        catch (Exception ex)
        {
            // Handle JavaScript interop exception
            Console.WriteLine($"JavaScript interop exception: {ex.Message}");
            locationBlocked = $"{ex.GetType()}: {ex.Message}";
            locationInProgress = false;
        }
    }

    private async Task ShowMap(double longitude, double latitude)
    {
        await JS.InvokeVoidAsync("initializeMap", "map", latitude, longitude); // Initialize map with initial latitude and longitude
    }
}
